
/*  font-family:font-family: 'Roboto', sans-serif;  */
/* font-family: 'Press Start 2P', cursive; */

body {
  font-family: 'Roboto', sans-serif;
}
p {
  margin-top: 10px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color:#fff;
}

.list-group-item {
  padding:0 0;
  border:none;
}

.btn-list {
  min-width:220px;
  height:54px;
  border: 1px solid #8e8127;
  display:block;
  text-transform: capitalize;
  font-size:15px;
}

.modal-close {
  display:block;
  float:right;
}

.list-wrapper {
  border:1px solid #cecece;
  margin:-60px auto 0 auto;
  background-color:#fff;
  width:67%;
  max-width:900px;
  padding-top:40px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pokemon-list {
  padding:0 0;
  margin: 0 auto;
  width:90%;
}

.col {
  margin-bottom:20px;
}

/* Search Area and Field */

.searchbar {
  width:100%;
  background-color: rgb(24, 84, 153);
  min-height:200px;
  text-align: center;
  padding:25px 0px;
}

.form-control {
  margin:10px auto;;
  height:32px;
  max-width:250px;
  border:1px solid #cecece;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
}

/* Modal Styles Start */


#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 145, 212, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  box-sizing: border-box;
  background: rgb(255, 255, 255 .2);
  padding: 25px;
  width: 100%;
  text-align: left;
  border-radius:30px;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.pokemon-image {
  max-width:50%;
  width:200px;
}

/* Type Background Colors */

.type {
  padding: 1px 0 15px 0;
  margin:0 auto;
  text-align: center;
}

.fire {
  background-color:#f19100;
}
.water {
  background-color:#0060f1;
  color:#fff;
}
.grass {
  background-color:#07861c;
  color:#fff;
}
.bug {
  background-color:#043f0e;
  color:#fff;
}
.poison {
  background-color:#7c0a80;
  color:#fff;
}
.ghost {
  background-color:#3a062d;
  color:#fff;
}
.rock {
  background-color:#444038;
  color:#fff;
}
.ground {
  background-color:#633d1e;
  color:#fff;
}
.flying {
  background-color:#65c5cc;
}
.dragon {
  background-color:#198f6c;
  color:#fff;
}
.electric {
  background-color:#dbdf21;
}
.normal {
  background-color:#99a18e;
}
.fairy {
  background-color:#dd3b9f;
  color:#fff;
}
.fighting {
  background-color:#6e3f00;
  color:#fff;
}
.psychic {
  background-color:#db6db1;
  color:#fff;
}
.ice {
  background-color:#179edd;
  color:#fff;
}
.steel {
  background-color:#a7a7a7;
}
.dark {
  background-color:#131313;
  color:#fff;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-close:hover {
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

/* Modal Styles End */

/* Modal Element Styles */

/* Media Styles */

@media all and (max-width: 500px) {
  .list-wrapper {
    width:100%;
    text-align:center; 
  }

  .btn-list{
    height: 60px;
    border: 1px solid #8e8127;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
  }
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .pokemon-list {
    padding:0 0;
  }

  .list-wrapper {
    border:1px solid #cecece;
    margin:-60px auto 0 auto;
    background-color:#fff;
    width:90%;
    padding-top:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn-list{
    height: 60px;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
}
   
}

@media all and (min-width: 800px) and (max-width: 1024px){ /* IPAD Pro Styling */

  .list-wrapper {
    border:1px solid #cecece;
    margin:-60px auto 0 auto;
    background-color:#fff;
    width:85%;
    padding-top:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn-list {
    height: 60px;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
  }
}